<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- My Content -->
    <main
      class="container pt-2 text-center d-flex justify-content-center align-items-center vh-100"
    >
      <section>
        <h1 class="display-1">Acerca de este Proyecto</h1>

        <br>

        <p>Bienvenido al Rastreador de PC, una herramienta diseñada para proporcionarte información en tiempo real sobre la ubicación de tu dispositivo. Este proyecto tiene como objetivo brindarte una forma fácil y segura de conocer la última posición de tu PC.</p>
        <p>Con nuestro rastreador, puedes acceder a detalles como la dirección IP, ciudad, región, país, latitud y longitud de tu dispositivo. Ya sea para la seguridad de tus activos o simplemente por curiosidad, nuestro servicio te mantiene informado.</p>

      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
