body {
  background: #202020;
  color: white;
}

.navbar-brand {
  font-family: 'Spicy Rice', cursive;
  font-size: 1.5rem;
}

.nav-link {
  text-transform: uppercase;
  font-family: 'Spicy Rice', cursive;
}

header img {
  width: 60%;
}


h1 {
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 7%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.location-info {
  width: 100%;
  margin-bottom: 20px;
}

.location-image {
  text-align: center;
  
}

img {
  max-width: 100%;
  height: auto;
  float: right;
}

p {
  margin-bottom: 8px;
  font-size: 16px;
}

.location-data {
  font-weight: bold;
  color: #3498db;
}

.no-location {
  color: #888;
  text-align: center;
}

/* Media Query para dispositivos con pantalla de hasta 600px (smartphones) */
@media (max-width: 600px) {
  .container {
      width: 100%;
  }
}

.centered-btn {
  display: flex;
  flex-direction: column;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
