<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container p-2">
    <a class="navbar-brand" href="/"><%= title %></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mr-auto">
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/index">
            <span class="material-symbols-outlined">
              home
              </span>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/about">
            <span class="material-symbols-outlined">
              info
              </span>
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/tracker">
            <span class="material-symbols-outlined">
              distance
              </span>
            Tracker
          </a>
        </li>
        <% if (!loggedin) { %>
          <!-- Botón de Registro -->
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/register">
              <span class="material-symbols-outlined">how_to_reg</span>
              Register
            </a>
          </li>
          <!-- Botón de Login -->
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/login">
              <span class="material-symbols-outlined">login</span>
              Login
            </a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center">
              <span class="material-symbols-outlined">
                account_circle
              </span>
              <%= username %>
            </a>
          </li>
          <!-- Botón de Logout -->
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/logout">
              <span class="material-symbols-outlined">logout</span>
              Logout
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
